<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            Búsqueda de ejercicios
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-12 col-md-5 mt-1 ps-3">
                    <div class="textInputWrapper">
                        <input placeholder="Nombre del ejercicio" type="text" class="textInput"
                            [(ngModel)]="criterioEjercicio">
                    </div>
                </div>
                <div class="col col-12 col-md-3">
                    <div class="input-container">
                        <label class="label" for="tipoEjercicio">Tipo de ejercicio</label>
                        <select id="tipoEjercicio" class="select-estatus" [(ngModel)]="criterioTipoEjercicio">
                            <option *ngFor="let tEjercicio of tiposEjercicio" [value]="tEjercicio.id">
                                {{tEjercicio.nombre_tipo}}</option>
                        </select>
                        <div class="underline"></div>
                    </div>
                </div>
                <div class="col col-12 col-md-2 mt-1">
                    <div class="d-grid">
                        <a class="btn btn-primary" style="
                                    --bs-btn-font-size: 1rem;
                                    --bs-btn-padding-y: .4rem; 
                                    --bs-btn-padding-x: .6rem;
                                    text-decoration: none;
                                    --bs-btn-color: #fff;
                                    --bs-btn-bg: #000;
                                    --bs-btn-border-color: #fff;
                                    --bs-btn-hover-color: #000;
                                    --bs-btn-hover-bg: #fff;
                                    --bs-btn-hover-border-color: #000;
                                    --bs-btn-active-color: #000;
                                    --bs-btn-active-bg: #fff;
                                    --bs-btn-active-border-color: #000;
                                " (click)="limpiarForm()">
                            <i class="fa-solid fa-eraser"></i>
                            Limpiar campos
                        </a>
                    </div>
                </div>
                <div class="col col-12 col-md-2 mt-1">
                    <div class="d-grid">
                        <a class="btn btn-outline-dark" style="
                            --bs-btn-font-size: 1rem;
                            --bs-btn-padding-y: .4rem; 
                            --bs-btn-padding-x: .6rem;
                            text-decoration: none;
                        " data-bs-toggle="modal" data-bs-target="#agregarEjercicio">
                            <i class="fa-regular fa-plus"></i>
                            Agregar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col col-12 col-md-4 mt-1">
            <div class="d-grid">
                <a class="btn btn-primary" style="
                    --bs-btn-font-size: 1rem;
                    --bs-btn-padding-y: .4rem; 
                    --bs-btn-padding-x: .6rem;
                    text-decoration: none;
                    --bs-btn-color: #fff;
                    --bs-btn-bg: #000;
                    --bs-btn-border-color: #fff;
                    --bs-btn-hover-color: #000;
                    --bs-btn-hover-bg: #fff;
                    --bs-btn-hover-border-color: #000;
                    --bs-btn-active-color: #000;
                    --bs-btn-active-bg: #fff;
                    --bs-btn-active-border-color: #000;
                " data-bs-toggle="modal" data-bs-target="#nuevoTipoEjercicio">
                    Agregar tipo de ejercicio
                </a>
            </div>
        </div>
        <div class="col col-12 col-md-4 mt-1">
            <div class="d-grid">
                <a class="btn btn-primary" style="
                    --bs-btn-font-size: 1rem;
                    --bs-btn-padding-y: .4rem; 
                    --bs-btn-padding-x: .6rem;
                    text-decoration: none;
                    --bs-btn-color: #fff;
                    --bs-btn-bg: #000;
                    --bs-btn-border-color: #fff;
                    --bs-btn-hover-color: #000;
                    --bs-btn-hover-bg: #fff;
                    --bs-btn-hover-border-color: #000;
                    --bs-btn-active-color: #000;
                    --bs-btn-active-bg: #fff;
                    --bs-btn-active-border-color: #000;
                " data-bs-toggle="modal" data-bs-target="#editarTipoEjercicio">
                    Editar tipo de ejercicio
                </a>
            </div>
        </div>
        <div class="col col-12 col-md-4 mt-1">
            <div class="d-grid">
                <a class="btn btn-primary" style="
                    --bs-btn-font-size: 1rem;
                    --bs-btn-padding-y: .4rem; 
                    --bs-btn-padding-x: .6rem;
                    text-decoration: none;
                    --bs-btn-color: #fff;
                    --bs-btn-bg: #000;
                    --bs-btn-border-color: #fff;
                    --bs-btn-hover-color: #000;
                    --bs-btn-hover-bg: #fff;
                    --bs-btn-hover-border-color: #000;
                    --bs-btn-active-color: #000;
                    --bs-btn-active-bg: #fff;
                    --bs-btn-active-border-color: #000;
                " data-bs-toggle="modal" data-bs-target="#eliminarTipoEjercicio">
                    Eliminar tipo de ejercicio
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="isLoading; else showTable">
            <div class="mt-5">
                <div class="loader"></div>
            </div>
        </div>
        <ng-template #showTable>
            <div class="table-responsive-xl">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Ejercicio</th>
                            <th scope="col">Demostración</th>
                            <th scope="col">Unidad de medida</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">     
                        <tr
                            *ngFor="let ejercicio of filterByParams(detalleEjercicios, criterioEjercicio, criterioTipoEjercicio)">
                            <td>{{ejercicio.tipo_ejercicio.nombre_tipo}}</td>
                            <td>{{ejercicio.nombre_ejercicio}} </td>
                            <td>{{ejercicio.demo_ejercicio}}</td>
                            <td>{{ejercicio.unidad_medida}}</td>
                            <td>
                                <div class="row">
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            " (click)="setDetalleEjercicio(ejercicio)" data-bs-toggle="modal" data-bs-target="#editarEjercicio">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            " (click)="setDetalleEjercicio(ejercicio)" data-bs-toggle="modal" data-bs-target="#detalleEjercicio">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                    </div>
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            " (click)="deleteEjercicio(ejercicio.nombre_ejercicio, ejercicio.id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>

<!-- Modales -->

<!-- Nuevo tipo de ejercicio -->
<nuevoTipoEjercicio 
    (actualizarTiposEjercicios)="getTiposEjercicio()"
></nuevoTipoEjercicio>

<!-- Editar tipo de ejercicio -->
<editarTipoEjercicio 
    [tiposEjercicio]="tiposEjercicio" 
    (actualizarTiposEjercicios)="getTiposEjercicio()"
    (actualizarListaEjercicios)="getAllEjercicios()"
></editarTipoEjercicio>

<!-- Eliminar tipo de ejercicio -->
<eliminarTipoEjercicio 
    [tiposEjercicio]="tiposEjercicio" 
    (actualizarTiposEjercicios)="getTiposEjercicio()"
    (actualizarListaEjercicios)="getAllEjercicios()"
></eliminarTipoEjercicio>

<!-- Agregar ejercicio -->
<nuevoEjercicio
    [tiposEjercicio]="tiposEjercicio"
    (actualizarListaEjercicios)="getAllEjercicios()" 
></nuevoEjercicio>

<!-- Ver ejercicio -->
<detalleEjercicio
    [detalleEjercicio]="detalleEjercicio"
></detalleEjercicio>

<!-- Editar ejercicio -->
<editarEjercicio
    [tiposEjercicio]="tiposEjercicio" 
    [detalleEjercicio]="detalleEjercicio"
    (actualizarListaEjercicios)="getAllEjercicios()" 
></editarEjercicio>