<div class="container-fluid text-center mt-3">
    <div class="row justify-content-center mb-5">
        <div class="card col col-12 col-xl-10 card-bd">
            <div class="col">
                <div class="row">
                    <div class="row">
                        <div class="col col-1">
                            <a routerLink="..">
                                <button class="button">
                                    <div class="button-box">
                                        <span class="button-elem">
                                            <i class="fa-solid fa-arrow-right fa-xl"></i>
                                        </span>
                                        <span class="button-elem">
                                            <i class="fa-solid fa-arrow-right fa-xl"></i>
                                        </span>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <div class="col col-10">
                            <h3>Inscripción al box virtual</h3>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="row">
                            <div class="col col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header text-bg-dark">
                                        Cliente
                                    </div>
                                    <div class="card-body">
                                        <div class="textInputWrapper">
                                            <input placeholder="Nombre(s) y/o apellidos" type="text" class="textInput"
                                                [(ngModel)]="criterio_c_nombre">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-md-6 mt-1">
                                <div class="card">
                                    <div class="card-header text-bg-dark">
                                        Entrenador
                                    </div>
                                    <div class="card-body">
                                        <div class="textInputWrapper">
                                            <input placeholder="Nombre(s) y/o apellidos" type="text" class="textInput"
                                                [(ngModel)]="criterio_e_nombre">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="isLoading; else showTables">
                                <div class="mt-5 mb-5">
                                    <div class="loader"></div>
                                </div>
                            </div>
                            <ng-template #showTables>
                                <div class="col col-12 col-md-6 mt-1">
                                    <div class="table-wrapper mt-3">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Primer apellido</th>
                                                    <th scope="col">Segundo apellido</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <tr
                                                    *ngFor="let usuario of filterUsers(usersCliente, criterio_c_nombre)">
                                                    <td>{{usuario.name}}</td>
                                                    <td>{{usuario.firstSurname}}</td>
                                                    <td>{{usuario.secondSurname}}</td>
                                                    <td>
                                                        <button class="btn btn-outline-dark" style="
                                                                    --bs-btn-font-size: 1rem;
                                                                    --bs-btn-padding-y: .4rem; 
                                                                    --bs-btn-padding-x: .6rem;
                                                                " type="button" (click)="setCliente(usuario)">
                                                            <i class="fa-solid fa-circle-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col col-12 col-md-6 mt-1">
                                    <div class="table-wrapper mt-3">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Primer apellido</th>
                                                    <th scope="col">Segundo apellido</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <tr
                                                    *ngFor="let usuario of filterUsers(usersEntrenador, criterio_e_nombre)">
                                                    <td>{{usuario.name}}</td>
                                                    <td>{{usuario.firstSurname}}</td>
                                                    <td>{{usuario.secondSurname}}</td>
                                                    <td>
                                                        <button class="btn btn-outline-dark" style="
                                                                    --bs-btn-font-size: 1rem;
                                                                    --bs-btn-padding-y: .4rem; 
                                                                    --bs-btn-padding-x: .6rem;
                                                                " type="button" (click)="setEntrenador(usuario)">
                                                            <i class="fa-solid fa-circle-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="col col-12 mb-2 mt-2">
                                <div class="card">
                                    <div class="card-header text-bg-dark">
                                        Ficha de inscripción
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="formRegistro" (ngSubmit)="saveInscription()">
                                            <div class="row">
                                                <div class="col col-12 col-md-4">
                                                    <div class="row">
                                                        <div class="col col-10">
                                                            <div class="input-container">
                                                                <input required="" value="{{ valueCliente }}"
                                                                    id="input-cliente" type="text" />
                                                                <label class="label" for="input-cliente">Cliente</label>
                                                                <div class="underline"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-2">
                                                            <button class="btn btn-outline-dark" style="
                                                                        --bs-btn-font-size: 1rem;
                                                                        --bs-btn-padding-y: .4rem; 
                                                                        --bs-btn-padding-x: .6rem;
                                                                        --bs-btn-border-color: #fff;
                                                                    " (click)="resetUser(1)" type="button">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-4">
                                                    <div class="row">
                                                        <div class="col col-10">
                                                            <div class="input-container">
                                                                <input required="" value="{{ valueEntrenador }}"
                                                                    id="input-entrendador" type="text" />
                                                                <label class="label"
                                                                    for="input-entrendador">Entrenador</label>
                                                                <div class="underline"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-2">
                                                            <button class="btn btn-outline-dark" style="
                                                                            --bs-btn-font-size: 1rem;
                                                                            --bs-btn-padding-y: .4rem; 
                                                                            --bs-btn-padding-x: .6rem;
                                                                            --bs-btn-border-color: #fff;
                                                                        " (click)="resetUser(2)" type="button">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-2">
                                                    <div class="input-container">
                                                        <input required="" formControlName="fecha_inicio"
                                                            id="input-fecha-inicio" type="text"
                                                            onfocus="(this.type='date')" onblur="(this.type='text')" />
                                                        <label class="label" for="input-fecha-inicio">Fecha de
                                                            inicio</label>
                                                        <div class="underline"></div>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-2">
                                                    <div class="input-container">
                                                        <input required="" formControlName="peso_maximo" id="input-peso"
                                                            type="text" />
                                                        <label class="label" for="input-peso">Peso máximo (lb)</label>
                                                        <div class="underline"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col col-6">
                                                    <a routerLink="..">
                                                        <button class="btn-32">
                                                            <span class="text-container">
                                                                <span class="text">Cancelar</span>
                                                            </span>
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="col col-6">
                                                    <button class="btn-31" [disabled]="formRegistro.invalid">
                                                        <span class="text-container">
                                                            <span class="text">Aceptar</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>