<div class="contenedor-body">
    <div class="container text-center center-card">
        <div class="row justify-content-center">
            <div class="card col col-12 col-xl-7">
                <div class="row">
                    <div class="col col-12">
                        <h1 class="mt-5 mb-5">¡Bienvenido!</h1>
                    </div>
                    <form (ngSubmit)="login()" [formGroup]="formLogin">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-12">
                                    <div class="wave-group mb-4">
                                        <input required="required" type="text" class="input" formControlName="email">
                                        <span class="bar"></span>
                                        <label class="label">
                                            <span class="label-char" style="--index: 0">E</span>
                                            <span class="label-char" style="--index: 1">m</span>
                                            <span class="label-char" style="--index: 2">a</span>
                                            <span class="label-char" style="--index: 3">i</span>
                                            <span class="label-char" style="--index: 4">l</span>
                                        </label>
                                        <div
                                            *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched; else ErrorMail">
                                            <p class="errorText">Campo requerido*</p>
                                        </div>
                                        <ng-template #ErrorMail>
                                            <div
                                                *ngIf="formLogin.get('email')?.hasError('email') && formLogin.get('email')?.touched">
                                                <p class="errorText">Ingresa un correo electrónico válido</p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    <div class="wave-group mb-4">
                                        <input required="required" id="textPass" type="{{inputTypePass}}" class="input" formControlName="password">
                                        <span class="bar"></span>
                                        <label class="label">
                                            <span class="label-char" style="--index: 0">C</span>
                                            <span class="label-char" style="--index: 1">o</span>
                                            <span class="label-char" style="--index: 2">n</span>
                                            <span class="label-char" style="--index: 3">t</span>
                                            <span class="label-char" style="--index: 4">r</span>
                                            <span class="label-char" style="--index: 5">a</span>
                                            <span class="label-char" style="--index: 6">s</span>
                                            <span class="label-char" style="--index: 7">e</span>
                                            <span class="label-char" style="--index: 8">ñ</span>
                                            <span class="label-char" style="--index: 9">a</span>
                                        </label>
                                        <div
                                            *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
                                            <p class="errorText">Campo requerido*</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-2">
                                    <button type="button" class="btn btn-outline-secondary" 
                                            style="
                                                --bs-btn-color: #000;
                                                --bs-btn-hover-bg: #000;
                                                --bs-btn-hover-border-color: #00000000;
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            "
                                            (click)="showPassword()"
                                   >
                                        <i class="{{iconButton}}"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col col-12 mb-4">
                                <button class="btn-31" [disabled]="formLogin.invalid">
                                    <span class="text-container">
                                        <span class="text">Aceptar</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="col col-12 mb-4">
                        <a routerLink="/register">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                    <div>
                        <div class="col col-12 mb-4">
                            <a routerLink="/" (click)="recoveryPassword()">
                                ¿Olvidaste tu contraseña?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>