<div class="container text-center center-card">
    <div class="row justify-content-center">
        <div class="card col col-12 col-xl-7">
            <div class="col">
                <div class="row">
                    <div class="col col-12">
                        <h1 class="mt-5 mb-5">¡Bienvenido!</h1>
                    </div>
                    <div class="col col-12">
                        <div class="card-body">
                            <div class="wave-group mb-4">
                                <input required="required" type="text" class="input">
                                <span class="bar"></span>
                                <label class="label">
                                  <span class="label-char" style="--index: 0">U</span>
                                  <span class="label-char" style="--index: 1">s</span>
                                  <span class="label-char" style="--index: 2">u</span>
                                  <span class="label-char" style="--index: 3">a</span>
                                  <span class="label-char" style="--index: 4">r</span>
                                  <span class="label-char" style="--index: 5">i</span>
                                  <span class="label-char" style="--index: 6">o</span>
                                </label>
                            </div>
                            <div class="wave-group mb-4">
                                <input required="required" type="text" class="input">
                                <span class="bar"></span>
                                <label class="label">
                                  <span class="label-char" style="--index: 0">C</span>
                                  <span class="label-char" style="--index: 1">o</span>
                                  <span class="label-char" style="--index: 2">n</span>
                                  <span class="label-char" style="--index: 3">t</span>
                                  <span class="label-char" style="--index: 4">r</span>
                                  <span class="label-char" style="--index: 5">a</span>
                                  <span class="label-char" style="--index: 6">s</span>
                                  <span class="label-char" style="--index: 7">e</span>
                                  <span class="label-char" style="--index: 8">ñ</span>
                                  <span class="label-char" style="--index: 9">a</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 mb-4">
                        <button class="btn-31">
                            <span class="text-container">
                              <span class="text">Aceptar</span>
                            </span>
                        </button>
                    </div>
                    <div class="col col-12 mb-4">
                        <a routerLink="/register">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                    <div class="col col-12 mb-4">
                        <a routerLink="">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>