<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            Búsqueda de inscripción por cliente
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-11 col-md-4 mt-1 ps-3">
                    <div class="textInputWrapper">
                        <input placeholder="Nombre(s)" type="text" class="textInput" [(ngModel)]="criterio_nombre">
                    </div>
                </div>
                <div class="col col-11 col-md-3 mt-1 ">
                    <div class="textInputWrapper">
                        <input placeholder="Primer apellido" type="text" class="textInput" [(ngModel)]="criterio_p_a">
                    </div>
                </div>
                <div class="col col-11 col-md-3 mt-1 ">
                    <div class="textInputWrapper">
                        <input placeholder="Segundo apellido" type="text" class="textInput" [(ngModel)]="criterio_s_a">
                    </div>
                </div>
                <div class="col col-12 col-md-2 mt-1">
                    <a class="btn btn-outline-dark" style="
                                        --bs-btn-font-size: 1rem;
                                        --bs-btn-padding-y: .4rem; 
                                        --bs-btn-padding-x: .6rem;
                                        text-decoration: none;
                                    " routerLink="nuevaInscripcion">
                        <i class="fa-regular fa-address-card"></i>
                        Inscribir
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="isLoading; else showTable">
            <div class="mt-5">
                <div class="loader"></div>
            </div>
        </div>
        <ng-template #showTable>
            <div class="table-responsive-xl">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Entrenador</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Peso máximo</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr
                            *ngFor="let inscripcion of filterInscripciones(inscripciones, criterio_nombre, criterio_p_a, criterio_s_a)">
                            <td>{{inscripcion.cliente.name}} {{inscripcion.cliente.firstSurname}}
                                {{inscripcion.cliente.secondSurname}}</td>
                            <td>{{inscripcion.entrenador.name}} {{inscripcion.entrenador.firstSurname}}
                                {{inscripcion.entrenador.secondSurname}}</td>
                            <td>{{inscripcion.estado}}</td>
                            <td>{{inscripcion.peso_maximo}} lb</td>
                            <td>{{inscripcion.fecha_inicio}}</td>
                            <td>
                                <div class="row">
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            " routerLink="edit/{{inscripcion.id}}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            " routerLink="detail/{{inscripcion.id}}">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                    </div>
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                            "
                                            (click)="deleteInscription(inscripcion.cliente.name+ ' ' + inscripcion.cliente.firstSurname+ ' ' +inscripcion.cliente.secondSurname, inscripcion.id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>