<app-nav-bar
    [navBarBrand]="navBarBrand"
    [urls]="urls"
    [labelNavBar]="labelNavBar"
> </app-nav-bar>
<div *ngIf="!isLoading; else loadingSpinner">
    <div *ngIf="showDashBoard; else SolicitarInscripcion" >
        <router-outlet></router-outlet>
    </div>
    <ng-template #SolicitarInscripcion>
        <h1 class="text-center">Cuenta inactiva</h1>
    </ng-template>
</div>
<ng-template #loadingSpinner>
    <div class="text-center m-5">
        <div class="loader"></div>
    </div>
</ng-template>
