<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col col-8">
                    Búsqueda de usuarios
                </div>
                <div class="col col-2">
                    <div class="d-grid">
                        <a class="btn btn-primary" style="
                                    --bs-btn-font-size: 1rem;
                                    --bs-btn-padding-y: .4rem; 
                                    --bs-btn-padding-x: .6rem;
                                    text-decoration: none;
                                    --bs-btn-color: #fff;
                                    --bs-btn-bg: #000;
                                    --bs-btn-border-color: #fff;
                                    --bs-btn-hover-color: #000;
                                    --bs-btn-hover-bg: #fff;
                                    --bs-btn-hover-border-color: #000;
                                    --bs-btn-active-color: #000;
                                    --bs-btn-active-bg: #fff;
                                    --bs-btn-active-border-color: #000;
                                " (click)="limpiarForm()">
                            <i class="fa-solid fa-eraser"></i>
                            Limpiar campos
                        </a>
                    </div>
                </div>
                <div class="col col-2">
                    <nuevo-usuario
                        [listRoles]="listRoles"
                    ></nuevo-usuario>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col col-11 col-md-3 mt-1 ps-3">
                    <div class="textInputWrapper">
                        <input placeholder="Nombre(s)" type="text" class="textInput" [(ngModel)]="criterio_nombre">
                    </div>
                </div>
                <div class="col col-11 col-md-3 mt-1 ">
                    <div class="textInputWrapper">
                        <input placeholder="Primer apellido" type="text" class="textInput" [(ngModel)]="criterio_p_a">
                    </div>
                </div>
                <div class="col col-11 col-md-3 mt-1 ">
                    <div class="textInputWrapper">
                        <input placeholder="Segundo apellido" type="text" class="textInput" [(ngModel)]="criterio_s_a">
                    </div>
                </div>
                <div class="col col-12 col-md-3 mt-1">
                    <div class="input-container">
                        <label class="label" for="Rol">Rol</label>
                        <select id="Rol" class="select-estatus" [(ngModel)]="criterioRol">
                            <option *ngFor="let rol of listRoles" [value]="rol.id">
                                {{rol.rol_name}}</option>
                        </select>
                        <div class="underline"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="isLoading; else showTable">
            <div class="mt-5">
                <div class="loader"></div>
            </div>
        </div>
        <ng-template #showTable>
            <div class="table-responsive-xl">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col">Fecha de nacimiento</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr
                            *ngFor="let user of filterInscripciones(listUsers, criterio_nombre, criterio_p_a, criterio_s_a, criterioRol)">
                            <td>{{user.name}} {{user.firstSurname}}
                                {{user.secondSurname}}</td>
                            <td>{{user.rol.rol_name}}</td>
                            <td>{{user.telephone}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.fecha_nacimiento}}</td>
                            <td>
                                <div class="row">
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                                --bs-btn-hover-bg: rgb(33, 110, 235);
                                                --bs-btn-hover-border-color: rgb(33, 110, 235);
                                            ">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                    </div>
                                    <div class="col col-4">
                                        <a class="btn btn-outline-dark" style="
                                                --bs-btn-font-size: 1rem;
                                                --bs-btn-padding-y: .4rem; 
                                                --bs-btn-padding-x: .6rem;
                                                --bs-btn-hover-bg: rgb(235, 33, 33);
                                                --bs-btn-hover-border-color: rgb(235, 33, 33);
                                            " (click)="deleteUser(user.name, user.id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>