@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

*{
    font-family: 'Rubik', sans-serif;
}

.errorText {
    margin: 0;
    padding: 0;
    text-align: left;
    color: red;
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #383838;
}